/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 22, 2023, 5:50:47 PM
    Author     : Hoang
*/

.featured-button {
    background: transparent; /* Nền trong suốt */
    border: none; /* Bỏ viền */
    cursor: pointer; /* Đổi con trỏ thành bàn tay khi hover */
    padding: 0; /* Loại bỏ khoảng cách trong nút */
    color: red; /* Màu của biểu tượng trái tim hoặc biểu tượng yêu thích */
    font-size: 16px; /* Kích thước chữ */
}

.featured-button:focus {
    outline: none; /* Loại bỏ đường viền khi nút được tập trung */
}